<html>

<head>
  <title>DLTDOJO TOKEN APP</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="index.css">
</head>

<body ng-app="app" ng-controller="ctrl">
  <div class="jumbotron text-center">
    <h2>DLTDOJO TOKEN</h2>
    <div ng-repeat="token in tokens">
      <h2>{{token.symbol}}</h2>
      <p><button ng-click="clLoad(token)">Load</button></p>
      <div>
        <h4>{{token.address}}</h4>
        <p>account {{token.account}}</p>
        <p>balance {{token.balance}}</p>
      </div>
    </div>
  </div>
</body>

</html>